{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-item">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">create</li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Write an article</h3>
                        <form  method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" name="title" id="title" class="form-control" value="{{article.title}}">
                            </div>

                            <div class="mb-3">
                                <label for="content" class="form-label">Content</label>
                                <textarea name="content" id="content" class="form-control" rows="6">{{article.content}}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Author email</label>
                                <input type="email" name="email" id="email" class="form-control" value="{{article.email}}">
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="author" class="form-label">Author</label>
                                    <select name="author" id="author" class="form-select">
                                        {% for author in authors %}
                                            <option value="{{author.id}}"
                                            {% if article.author.id == author.id %} 
                                            selected
                                            {% endif %}>{{author.name}}</option>
                                            
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editor" class="form-label">Editor</label>
                                    <select name="editor" id="editor" class="form-select">
                                        {% for author in authors %}
                                            <option value="{{author.id}}"
                                            {% if article.editor.id == author.id %} 
                                            selected
                                            {% endif %}>{{author.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}