{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <!-- Breadcrumb -->
        <nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-item">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
            </ol>
        </nav>
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title display-5 mb-3">{{article.title}}</h1>
                <div class="mb-3 text-muted">
                    <span class="me-3"><strong>Author:</strong> {{article.author}}</span>
                    <span><strong>Email:</strong> <a href="mailto:{{article.author_email}}">{{article.author_email}}</a></span>
                </div>

                <h2 class="h5">Content</h2>
                <p class="card-text">{{article.content}}</p>
            </div>
        </div>
    </div>
{% endblock content %}